In [2]:
import numpy as np
import pandas as pd

In [3]:
# Case study on google playstore data
df=pd.read_csv("C:\\Users\\admin\\Documents\\csv files\\PANDAS CSV\\googleplaystore.csv")
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [7]:
# 1. Display Top 5 Rows of The Dataset
print('First 5 DataSets::')
df.head()

First 5 DataSets::

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [9]:
# 1. Display Top 3 Rows of The Dataset
print('First 3 DataSets::')
df.head(3)

First 3 DataSets::

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [8]:
# 2. Check the Last 3 Rows of The Dataset
print('Last 3 DataSets::')
df.tail(3)

Last 3 DataSets::

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [10]:
# 2. Check the Last 7 Rows of The Dataset
print('Last 7 DataSets::')
df.tail(7)

Last 7 DataSets::

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10835,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [11]:
# 3. Find Shape of Our Dataset (Number of Rows & Number of Columns)
print("Shape of Data set::",df.shape)
print('Row in dataset::',df.shape[0])
print('Columns in dataset::',df.shape[1])

Shape of Data set:: (10841, 13)
Row in dataset:: 10841
Columns in dataset:: 13

In [12]:
# 4. Get Information About Our Dataset Like Total Number Rows, 
#Total Number of Columns, Datatypes of Each Column And Memory Requirement
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [13]:
# 5. Get Overall Statistics About The Dataframe
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [16]:
df.describe(include=('all'))

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
count,10841,10841,9367.000000,10841,10841,10841,10840,10841,10840,10841,10841,10833,10838
unique,9660,34,NaN,6002,462,22,3,93,6,120,1378,2832,33
top,ROBLOX,FAMILY,NaN,0,Varies with device,"1,000,000+",Free,0,Everyone,Tools,"August 3, 2018",Varies with device,4.1 and up
freq,9,1972,NaN,596,1695,1579,10039,10040,8714,842,326,1459,2451
mean,NaN,NaN,4.193338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,0.537431,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# 6. Total Number of App Titles Contain Astrology
df[df['App'].str.contains('Astrology')]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1570,Horoscopes – Daily Zodiac Horoscope and Astrology,LIFESTYLE,4.6,161143,11M,"10,000,000+",Free,0,Everyone 10+,Lifestyle,"June 25, 2018",5.2.4(881),4.0.3 and up
1592,သိင်္ Astrology - Min Thein Kha BayDin,LIFESTYLE,4.7,2225,15M,"100,000+",Free,0,Everyone,Lifestyle,"July 26, 2018",4.2.1,4.0.3 and up
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [25]:
# 6. Total Number of App Titles Contain Astrology
df[df['App'].str.contains('Astrology',case=False)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1570,Horoscopes – Daily Zodiac Horoscope and Astrology,LIFESTYLE,4.6,161143,11M,"10,000,000+",Free,0,Everyone 10+,Lifestyle,"June 25, 2018",5.2.4(881),4.0.3 and up
1592,သိင်္ Astrology - Min Thein Kha BayDin,LIFESTYLE,4.7,2225,15M,"100,000+",Free,0,Everyone,Lifestyle,"July 26, 2018",4.2.1,4.0.3 and up
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [26]:
# 6. Total Number of App Titles Contain Astrology
nv=df[df['App'].str.contains('Astrology',case=False)]
print("Number of app title contains Astrology:::",len(nv))

Number of app title contains Astrology::: 3

In [21]:
# 7. Find Average App Rating
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [22]:
df['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10836    4.5
10837    5.0
10838    NaN
10839    4.5
10840    4.5
Name: Rating, Length: 10841, dtype: float64

In [28]:
# 7. Find Average App Rating
print('Average of App Rating::',df['Rating'].mean())

Average of App Rating:: 4.193338315362443

In [29]:
# 8.  Find Total Number of Unique Category
df['Category']

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

In [31]:
print('Total numbers of Unique Category::',df['Category'].nunique())

Total numbers of Unique Category:: 34

In [35]:
# 9. Which Category Getting The Highest Average Rating?
df.groupby(['Category'])['Rating']

In [36]:
for i in df.groupby(['Category'])['Rating']:
    print(i)

('1.9', 10472    19.0
Name: Rating, dtype: float64)
('ART_AND_DESIGN', 0       4.1
1       3.9
2       4.7
3       4.5
4       4.3
       ...
7174    NaN
8679    4.2
8712    4.3
8871    NaN
8888    5.0
Name: Rating, Length: 65, dtype: float64)
('AUTO_AND_VEHICLES', 49       4.2
50       4.0
51       3.8
52       4.6
53       3.9
        ...
10137    2.1
10345    3.9
10486    4.6
10764    NaN
10811    NaN
Name: Rating, Length: 85, dtype: float64)
('BEAUTY', 98       4.7
99       4.9
100      4.7
101      3.9
102      3.9
103      4.2
104      4.6
105      4.3
106      4.7
107      4.7
108      4.8
109      4.2
110      4.3
111      4.5
112      4.1
113      NaN
114      4.2
115      4.5
116      4.4
117      4.0
118      4.1
119      4.1
120      4.4
121      4.6
122      4.5
123      NaN
124      3.9
125      4.4
126      NaN
127      4.6
128      3.8
129      NaN
130      NaN
131      4.0
132      4.3
133      4.5
134      NaN
135      4.1
136      3.7
137      4.7
138      4.2
5192     3.1
5998     NaN
6222     4.0
6318     NaN
6506     4.0
6828     NaN
7021     4.5
7460     NaN
8505     NaN
9205     4.0
10022    4.7
10289    3.9
Name: Rating, dtype: float64)
('BOOKS_AND_REFERENCE', 139      4.6
140      4.5
141      4.6
142      4.4
143      4.2
        ...
10815    4.2
10819    3.3
10829    4.6
10833    4.8
10839    4.5
Name: Rating, Length: 231, dtype: float64)
('BUSINESS', 187      4.1
188      4.3
189      4.4
190      4.3
191      4.3
        ...
10772    NaN
10810    4.8
10813    NaN
10816    NaN
10835    NaN
Name: Rating, Length: 460, dtype: float64)
('COMICS', 297      4.5
298      4.6
299      4.7
300      4.7
301      4.8
302      3.9
303      4.1
304      4.4
305      4.6
306      4.5
307      4.7
308      4.4
309      4.5
310      3.9
311      3.2
312      3.2
313      4.1
314      4.5
315      4.2
316      4.2
317      3.7
318      4.5
319      4.6
320      4.5
321      NaN
322      4.7
323      4.4
324      3.5
325      3.3
326      4.5
327      4.4
328      4.2
329      5.0
330      4.4
331      4.7
332      4.4
333      4.4
334      4.6
4506     4.4
4724     4.5
4959     3.7
5041     2.8
5905     3.3
5936     4.1
6009     3.3
6015     3.9
6072     4.0
6407     4.8
6408     3.0
6411     3.2
6414     3.5
6420     4.4
6424     3.8
6705     4.3
7992     3.8
8246     4.2
8257     4.1
8260     5.0
8278     NaN
10828    3.4
Name: Rating, dtype: float64)
('COMMUNICATION', 335      4.0
336      4.4
337      4.3
338      4.3
339      4.4
        ...
10720    4.4
10734    NaN
10739    3.6
10748    NaN
10790    4.1
Name: Rating, Length: 387, dtype: float64)
('DATING', 476      4.2
477      2.6
478      NaN
479      NaN
480      NaN
        ...
7077     4.0
7303     3.5
10045    4.1
10168    3.7
10715    3.0
Name: Rating, Length: 234, dtype: float64)
('EDUCATION', 699    4.7
700    4.6
701    4.7
702    4.6
703    4.7
      ...
850    4.1
851    4.9
852    4.7
853    4.7
854    4.7
Name: Rating, Length: 156, dtype: float64)
('ENTERTAINMENT', 855     4.4
856     4.0
857     4.2
858     4.3
859     4.5
       ...
999     4.2
1000    4.3
1001    4.6
1002    4.3
1003    4.5
Name: Rating, Length: 149, dtype: float64)
('EVENTS', 1004     4.0
1005     4.0
1006     4.5
1007     4.5
1008     4.0
        ...
9659     5.0
9699     NaN
10105    NaN
10605    NaN
10767    4.8
Name: Rating, Length: 64, dtype: float64)
('FAMILY', 2014     4.5
2015     4.4
2016     4.5
2017     4.4
2018     4.4
        ...
10821    NaN
10827    4.2
10834    4.0
10836    4.5
10837    5.0
Name: Rating, Length: 1972, dtype: float64)
('FINANCE', 1048     4.4
1049     4.4
1050     3.6
1051     3.7
1052     3.8
        ...
10718    3.9
10744    NaN
10745    NaN
10752    3.6
10818    NaN
Name: Rating, Length: 366, dtype: float64)
('FOOD_AND_DRINK', 1176     3.6
1177     NaN
1178     4.1
1179     4.6
1180     NaN
        ...
9487     4.4
9540     4.0
9819     4.6
9834     NaN
10347    NaN
Name: Rating, Length: 127, dtype: float64)
('GAME', 1653     4.5
1654     4.5
1655     4.4
1656     4.7
1657     4.5
        ...
10791    4.0
10792    4.2
10793    4.4
10803    4.3
10804    4.2
Name: Rating, Length: 1144, dtype: float64)
('HEALTH_AND_FITNESS', 1256     4.8
1257     4.0
1258     4.9
1259     4.8
1260     4.9
        ...
10362    4.5
10402    NaN
10600    3.5
10630    3.2
10760    4.4
Name: Rating, Length: 341, dtype: float64)
('HOUSE_AND_HOME', 1446     4.5
1447     4.8
1448     4.2
1449     4.5
1450     4.1
        ...
9962     NaN
9982     4.3
9984     3.9
10119    NaN
10348    NaN
Name: Rating, Length: 88, dtype: float64)
('LIBRARIES_AND_DEMO', 1514     3.9
1515     4.4
1516     4.6
1517     NaN
1518     4.1
        ...
8203     4.5
9790     4.2
9893     NaN
10290    4.1
10729    4.3
Name: Rating, Length: 85, dtype: float64)
('LIFESTYLE', 1562     4.1
1563     4.1
1564     4.3
1565     4.0
1566     4.6
        ...
10773    NaN
10797    4.6
10805    4.3
10808    NaN
10840    4.5
Name: Rating, Length: 382, dtype: float64)
('MAPS_AND_NAVIGATION', 3820     4.6
3821     4.2
3822     4.1
3823     4.4
3824     4.4
        ...
10638    4.2
10725    3.6
10737    4.0
10755    4.3
10831    NaN
Name: Rating, Length: 137, dtype: float64)
('MEDICAL', 2243     4.2
2244     4.4
2245     4.6
2246     4.5
2247     4.8
        ...
10730    4.5
10768    3.8
10806    NaN
10824    NaN
10838    NaN
Name: Rating, Length: 463, dtype: float64)
('NEWS_AND_MAGAZINES', 3715     4.5
3716     4.4
3717     4.3
3718     4.5
3719     4.3
        ...
10646    4.6
10680    4.4
10762    NaN
10774    NaN
10830    3.8
Name: Rating, Length: 283, dtype: float64)
('PARENTING', 3575    4.5
3576    3.9
3577    NaN
3578    3.8
3579    NaN
3580    NaN
3581    4.6
3582    4.7
3583    NaN
3584    4.0
3585    NaN
3586    4.7
3587    4.1
3588    3.7
3589    NaN
3590    4.1
3591    3.7
3592    4.6
3593    4.4
3594    4.6
3595    4.1
3596    4.4
3597    4.7
3598    4.4
3599    NaN
3600    4.8
3601    4.0
3602    4.9
3603    NaN
3604    4.8
3605    4.4
3606    4.7
3607    4.2
3608    4.6
3609    4.6
3610    4.5
3611    4.6
3612    4.1
3613    3.8
3614    4.8
3615    4.8
3616    NaN
3617    4.5
3618    4.0
3619    4.4
3620    4.7
3621    NaN
3622    3.9
3623    4.4
3624    4.4
3625    4.5
4608    3.1
5920    4.2
5973    4.7
6486    4.3
7229    4.7
7631    3.5
7658    2.0
8335    5.0
9311    4.1
Name: Rating, dtype: float64)
('PERSONALIZATION', 3352     4.6
3353     4.4
3354     4.6
3355     4.6
3356     4.5
        ...
10710    3.8
10722    4.0
10733    3.5
10747    3.5
10788    NaN
Name: Rating, Length: 392, dtype: float64)
('PHOTOGRAPHY', 2801     4.1
2802     4.6
2803     4.8
2804     4.0
2805     4.7
        ...
10666    4.6
10707    4.5
10716    4.2
10726    4.4
10740    4.3
Name: Rating, Length: 335, dtype: float64)
('PRODUCTIVITY', 3450     4.5
3451     4.7
3452     4.3
3453     4.4
3454     4.4
        ...
10606    NaN
10622    NaN
10681    4.6
10771    3.9
10822    NaN
Name: Rating, Length: 424, dtype: float64)
('SHOPPING', 2654     4.0
2655     4.5
2656     4.6
2657     4.3
2658     4.2
        ...
10106    NaN
10276    4.1
10642    3.9
10712    4.4
10753    4.5
Name: Rating, Length: 260, dtype: float64)
('SOCIAL', 2544     4.1
2545     4.5
2546     4.3
2547     4.4
2548     4.4
        ...
10714    4.4
10765    3.4
10799    4.7
10825    NaN
10826    4.0
Name: Rating, Length: 295, dtype: float64)
('SPORTS', 2959     4.2
2960     4.3
2961     4.4
2962     4.2
2963     4.1
        ...
10604    4.7
10645    3.9
10683    4.2
10723    4.3
10775    NaN
Name: Rating, Length: 384, dtype: float64)
('TOOLS', 3233     4.1
3234     4.4
3235     4.4
3236     4.2
3237     4.2
        ...
10795    4.2
10796    4.7
10800    4.1
10807    NaN
10817    4.0
Name: Rating, Length: 843, dtype: float64)
('TRAVEL_AND_LOCAL', 3102     4.1
3103     4.2
3104     4.4
3105     4.4
3106     4.1
        ...
10608    NaN
10621    5.0
10631    NaN
10633    3.8
10634    4.6
Name: Rating, Length: 258, dtype: float64)
('VIDEO_PLAYERS', 3665     4.3
3666     4.3
3667     4.2
3668     4.3
3669     3.6
        ...
10237    4.2
10318    4.4
10519    NaN
10647    3.9
10823    NaN
Name: Rating, Length: 175, dtype: float64)
('WEATHER', 3626     4.4
3627     4.8
3628     4.4
3629     4.8
3630     4.5
        ...
10612    NaN
10625    NaN
10627    NaN
10713    4.4
10832    3.8
Name: Rating, Length: 82, dtype: float64)

In [39]:
df.groupby(['Category'])['Rating'].mean()

Category
1.9                    19.000000
ART_AND_DESIGN          4.358065
AUTO_AND_VEHICLES       4.190411
BEAUTY                  4.278571
BOOKS_AND_REFERENCE     4.346067
BUSINESS                4.121452
COMICS                  4.155172
COMMUNICATION           4.158537
DATING                  3.970769
EDUCATION               4.389032
ENTERTAINMENT           4.126174
EVENTS                  4.435556
FAMILY                  4.192272
FINANCE                 4.131889
FOOD_AND_DRINK          4.166972
GAME                    4.286326
HEALTH_AND_FITNESS      4.277104
HOUSE_AND_HOME          4.197368
LIBRARIES_AND_DEMO      4.178462
LIFESTYLE               4.094904
MAPS_AND_NAVIGATION     4.051613
MEDICAL                 4.189143
NEWS_AND_MAGAZINES      4.132189
PARENTING               4.300000
PERSONALIZATION         4.335987
PHOTOGRAPHY             4.192114
PRODUCTIVITY            4.211396
SHOPPING                4.259664
SOCIAL                  4.255598
SPORTS                  4.223511
TOOLS                   4.047411
TRAVEL_AND_LOCAL        4.109292
VIDEO_PLAYERS           4.063750
WEATHER                 4.244000
Name: Rating, dtype: float64

In [42]:
df.groupby(df['Category'])['Rating'].mean().sort_values(ascending=False).head(1)

Category
1.9    19.0
Name: Rating, dtype: float64

In [44]:
# 10. Find Total Number of App having 5 Star Rating
df[df['Rating']==5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
329,Hojiboy Tojiboyev Life Hacks,COMICS,5.0,15,37M,"1,000+",Free,0,Everyone,Comics,"June 26, 2018",2.0,4.0.3 and up
612,American Girls Mobile Numbers,DATING,5.0,5,4.4M,"1,000+",Free,0,Mature 17+,Dating,"July 17, 2018",3.0,4.0.3 and up
615,Awake Dating,DATING,5.0,2,70M,100+,Free,0,Mature 17+,Dating,"July 24, 2018",2.2.9,4.4 and up
633,Spine- The dating app,DATING,5.0,5,9.3M,500+,Free,0,Teen,Dating,"July 14, 2018",4.0,4.0.3 and up
636,Girls Live Talk - Free Text and Video Chat,DATING,5.0,6,5.0M,100+,Free,0,Mature 17+,Dating,"August 1, 2018",8.2,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10721,Mad Dash Fo' Cash,GAME,5.0,14,16M,100+,Free,0,Everyone,Arcade,"June 19, 2017",2.5a,4.1 and up
10742,GKPB FP Online Church,LIFESTYLE,5.0,32,7.9M,"1,000+",Free,0,Everyone,Lifestyle,"December 31, 2017",0.7.1,4.4 and up
10776,Monster Ride Pro,GAME,5.0,1,24M,10+,Free,0,Everyone,Racing,"March 5, 2018",2.0,2.3 and up
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6M,"1,000+",Free,0,Teen,Education,"June 27, 2018",3.8.0,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up

In [45]:
# 10. Find Total Number of App having 5 Star Rating
x=df[df['Rating']==5]
print('Total Number of apps having 5 star rating::',len(x))

Total Number of apps having 5 star rating:: 274

In [46]:
# 11. Find Average Value of Reviews
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [49]:
df['Reviews'].dtype

dtype('O')

In [52]:
# convert object type to float type
# df['Reviews'].astype('float')
df['Reviews']=df['Reviews'].replace('3.0M',3)

In [55]:
df['Reviews']=df['Reviews'].astype('float')

In [56]:
print('Average Value of Review::',df['Reviews'].mean())

Average Value of Review:: 444111.9265750392

In [59]:
# 12. Find Total Number of Free and Paid Apps
df['Type'].value_counts()

Type
Free    10039
Paid      800
0           1
Name: count, dtype: int64

In [62]:
# 13.  Which App Has Maximum Reviews?
df['Reviews'].max()

78158306.0

In [64]:
# 13.  Which App Has Maximum Reviews?
df[df['Reviews'].max()==df['Reviews']]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device

In [65]:
# 13.  Which App Has Maximum Reviews?
df[df['Reviews'].max()==df['Reviews']]['App']

2544    Facebook
Name: App, dtype: object

In [86]:
# 14. Display Top 5 Apps Having Highest Reviews
ind=df['Reviews'].sort_values(ascending=False).head().index
df.iloc[ind]['App']

2544              Facebook
3943              Facebook
381     WhatsApp Messenger
336     WhatsApp Messenger
3904    WhatsApp Messenger
Name: App, dtype: object

In [89]:
# 15. Find Average Rating of Free and Paid Apps
df.groupby('Type')['Rating'].mean()

Type
0       19.000000
Free     4.186203
Paid     4.266615
Name: Rating, dtype: float64

In [90]:
# 16. Display Top  5 Apps Having Maximum Installs
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [91]:
df['Installs']

0            10,000+
1           500,000+
2         5,000,000+
3        50,000,000+
4           100,000+
            ...
10836         5,000+
10837           100+
10838         1,000+
10839         1,000+
10840    10,000,000+
Name: Installs, Length: 10841, dtype: object

In [94]:
df['Installs'].sort_values(ascending=False).head()

10472            Free
420      500,000,000+
474      500,000,000+
3767     500,000,000+
3574     500,000,000+
Name: Installs, dtype: object

In [95]:
ind=df['Installs'].sort_values(ascending=False).head().index
df.loc[ind]['App']

10472        Life Made WI-Fi Touchscreen Photo Frame
420      UC Browser - Fast Download Private & Secure
474                      LINE: Free Calls & Messages
3767                    Flipboard: News For Our Time
3574                                     Cloud Print
Name: App, dtype: object

In [96]:
df['Installs'].dtype

dtype('O')

In [104]:
# df['Installs'].astype('float')
df['Installs']=df['Installs'].apply(lambda x:x.strip('+'))  # removing + symbol
df['Installs']=df['Installs'].apply(lambda x:x.replace(",",''))   # Removing ,
ind=df['Installs'].sort_values(ascending=False).head().index
df.loc[ind]['App']

10472    Life Made WI-Fi Touchscreen Photo Frame
1655                            Candy Crush Saga
3870                                    Snapchat
1759                                Temple Run 2
3879                                         Pou
Name: App, dtype: object